* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
.header {
  width: 100%;
  align-items: center;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 50%;
}
.toggle i {
  font-size: xx-large;
}
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.slider-container {
  position: absolute;
  width: 100%;
}
.slide {
  list-style: none;
  position: absolute;
}
button {
  display: none;
}
